# Astro
dist/
.astro/

# Node
node_modules/

# IDE
.idea
.vscode/

# Netlify
.netlify/

# Python Testing
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
.python-version
